:root.theme-light {
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-color-transparent: #32312D66;
  --subtitle-color: #353430;
  --side-title-color: #353430;
  --background-color: #FFF1F7;
  --text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --accent-color-transparent: #32312D66;
    --subtitle-color: #353430;
    --side-title-color: #353430;
    --background-color: #FFF1F7;
    --text-color: #353430;
    --background-image: url(../images/cover-image-light.png);
  }
  
  .decorative-element{
    display: none;
  }
}

.theme-light .page .decorative-element{
  display: none;
}
